<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cyber High - Módulo de Cadastros{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Cyber High - Módulo de Cadastros</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <p>TreinaWeb Cursos</p>
    </body>
</html>
