{% extends '::cadastro.html.twig' %}

{% block body %}
    <a href="{{ cadastroAlunos }}">Alunos</a><br />
    <a href="{{ cadastroProfessores }}">Professores</a><br />
    <a href="{{ cadastroTurmas }}">Turmas</a><br />
{% endblock %}