{% extends '::base.html.twig' %}

{% block body %}
    <form action="{{ action }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="gravar" />
    </form>
{% endblock %}
